@model CourtCaseApi.Models.User

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/MainMenu.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <h3 class="form-title" style="text-align: center; margin-bottom: 30px;">
    Welcome to web based court case follow-up system
    </h3>
    <h5 style="text-align: center; margin-bottom: 30px;">
        Please Sign In to get access
    </h5>

    <div class="alert alert-danger" style="text-align: center;display:none;">
        <span style="font-size: 14px;">
            @Html.ValidationSummary(true, "Login Failed, check details");
        </span>
    </div>
        <div>
            <div class="form-horizontal">
                <label class=" control-label col-md-4">User Name:</label>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-solid placeholder-no-fix", @required = "required" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>

            <div class="form-horizontal">
                <label class=" control-label col-md-4">Password:</label>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @required = "required" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
           <!----> <div class="form-horizontal">
                <div class="col-md-4">
                </div>
                <div class="col-md-7">
                    <input type="submit" value="Log In" class="btn btn-success margin-right-btn" />

                </div>
            </div>

            </div>
}
